.bg-1 {
    background-image: url(../img/bg.png)
}
.bg-2 {
    background-image: url(../img/bg.png)
}
.bg-3 {
    background-image: url(../img/backgrounds/bg-3.jpg)
}
.bg-4 {
    background-image: url(../img/backgrounds/bg-4.jpg)
}
.bg-5 {
    background-image: url(../img/backgrounds/bg-5.jpg)
}
.bg-6 {
    background-image: url(../img/backgrounds/bg-6.jpg)
}
.bg-7 {
    background-image: url(../img/backgrounds/bg-7.jpg)
}
