body{
  font-family: 'Ubuntu', sans-serif !important;
  background: #f5f5f5;
}

/* Navbar */
.navbar-light .navbar-nav .nav-link{
  color: #252525;
}
.bb-light{
  border-bottom: 1px solid #d1d1d1;
}
.nav-text{
  line-height: 50px;
}
.nav-text a{
  font-family: 'Ubuntu', sans-serif !important;
}
nav.navbar ul.ul-h.nav-menu>li.contact{
  padding-right: 0px;
}
nav.navbar.transparent-white ul.ul-h.nav-menu > li.contact > a:hover {
    color: #fff;
    -webkit-transition: color .2s;
    transition: color .2s;
}
nav.navbar.transparent-white ul.ul-h.nav-menu > li > a{
  -webkit-transition: all .15s ease-in-out !important;
}
.nav-collapsed{
  box-shadow: 0px 3px 22px rgba(0,0,0,0.1);
  padding-top: 5px;
}
nav.navbar.transparent-white ul.ul-h.nav-menu>li>a:hover{
  color: #b6b6b6 !important;
  -webkit-transition: color .2s !important;
  transition: color .2s !important;
}


/* Responsive */
@media (min-width: 1365px) and (max-width: 1367px) {
  nav.navbar .container.fluid-container ul.ul-h.nav-menu>li{
    padding: 0 22px !important;
  }
  .btn-secondary-mama{
    padding: 15px 38px !important;
  }
}
@media (min-width: 1020px) {
  .hero-content .container{
    top: 30%!important;
  }
}

@media (min-width: 479px) and (max-width: 1020px){
  h1.site-title{
    font-family: 'Ubuntu';
  	font-size: 40px !important;
  	color: #282829 !important;
  }
  h6.about{
    font-family: 'Ubuntu';
  	font-size: 16px !important;
  	color: #252525 !important;
  }
  .hero-fullscreen{
    height: 88vh !important;
    padding-left: 25px;
  }
  .hero-content .container{
    top: 20% !important;
  }
}
@media (min-width: 329px) and (max-width: 469px) {
  h1.site-title{
    font-family: 'Ubuntu';
  	font-size: 35px !important;
  	color: #282829 !important;
  }
  h6.about{
    font-family: 'Ubuntu';
  	font-size: 15px !important;
  	color: #252525 !important;
  }
  .fixed-bottom{
    position: relative;
  }
  .hero-fullscreen{
    height: 130vh !important;
    padding-left: 25px !important;
  }
  .hero-content .container{
    top: 12% !important;
  }
}
@media (max-width: 1024px){
  .hidden-md{
    display:none !important;
  }
}



/*---------- MAIN CONTENT ----------*/
.hero-content .container {
    vertical-align: middle;
    top: 40%;
    display: inline;

}
/*
.hero-content .container {
    vertical-align: middle;
    top: 40%;
    display: table-caption;

}*/
h1.site-title{
  font-family: 'Ubuntu';
	font-size: 98px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0px;
	text-align: center;
	color: #252525;
}
h4.date-time{
  font-family: 'Ubuntu';
	font-size: 20px;
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: 0px;
	text-align: center;
	color: #252525;
}
.primary-button{
  width: 100%;
  text-align: center;
}
.btn-primary-hck {
    background-color: #252525;
    padding: 18px 55px;
    font-size: 17px;
    line-height: 1.6;
    letter-spacing: 0.6px;
    display: inline-block;
    border-radius: 0;
    transition: all .15s ease-in-out;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}
.btn-primary-hck:hover{
    background-color: transparent;
    color: #252525;
    border: 2px solid #252525;
    transition: all .15s ease-in-out;
    text-decoration: none;
}

/* About */
.section-title{
  font-size: 40px;
  color: #252525;
  font-weight: 700;
}
.about-content{
  padding: 80px;
  background: #f5f5f5;
}
.about-content p{
  font-size: 20px;
  font-weight: 300;
  color: #252525;
  line-height: 1.5;
}

/* Prize */
.prize-content{
  padding: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #d1d1d1;
  color: #252525;
}
.bottom{
  border-bottom: 1px solid #d1d1d1;
}
h6.categories{
  font-size: 24px;
  font-weight: 300;
}
.al-left{
  text-align: left;
  font-size: 18px;
  font-weight: 300;
}
.al-right{
  text-align: right;
  font-size: 18px;
  font-weight: 300;
}
span.mln{
  font-size: 16px;
  font-weight: 300;
  color:#606060;
  margin-left: 10px;
}
.asterix{
  font-size: 14px;
}
.sentence{
  padding: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #252525;
}


/* FAQ */
.faq-content{
  padding: 0px;
  padding-bottom: 40px;
  color: #252525;
}
h6.question{
  font-size: 24px;
  font-weight: 300;
}
.answer p{
  font-size: 18px;
  color:#606060;
  font-weight: 300;
  font-family: 'Ubuntu';
  line-height: 2;
}
.answer ol li{
  font-size: 18px;
  color:#606060;
  font-weight: 300;
  font-family: 'Ubuntu';
  line-height: 2;
}

/* Partners */
.partners-logo{
  width: 300px;
}
.partners{
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

/* Footer */
.footer {
  background: #e4e4e4;
  padding-top: 50px;
  padding-bottom: 50px;
}
h6.site-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
	letter-spacing: 0px;
	text-align: center;
	color: #252525;
}
p.date-time-footer{
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #252525;
  font-family: 'Ubuntu';
}
.emailus{
  text-align: center;
}
a.email{
  font-size: 18px;
  font-weight: 700;
  color: #252525;
  text-align: center;
  font-family: 'Ubuntu';
}
a.email:hover{
  font-size: 18px;
  font-weight: 300;
  color: #252525;
  text-align: center;
  font-family: 'Ubuntu';
}
